<template>
  <el-select v-model="values" v-on:change="airportsChanged" multiple placeholder="Select">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      size="large"
      :value="item.value">
    </el-option>
  </el-select>
</template>

<script>
import OfficeRecommender from '../core'

export default {
  props: ['airports', 'selected'],
  name: 'AirportSelector',
  methods: {
    airportsChanged (newValue) {
      OfficeRecommender.setDepartureAirports(newValue)
      OfficeRecommender.refreshItinerary()
    }
  },
  data () {
    return {
      values: this.selected,
      options: this.airports.map(airport => {
        return {
          value: airport.code,
          label: airport.name
        }
      })

    }
  }
}
</script>

<style scoped>

</style>
