<template>
  <div>
    <br/>
    <br/>
    <br/>
    <p>Waiting for location. If you see a dialog requesting location, please authorize access to your location ... </p>
  </div>
</template>

<script>
export default {
  name: 'AwaitingLocation'
}
</script>

<style scoped>

</style>
