<template>
  <div v-loading.fullscreen.lock="pendingAirports"
       element-loading-text="Fetching airports around you..."
       element-loading-spinner="el-icon-loading"
  >
    <div v-if="noAirports">
      We could not find any airports around you. Where are you?!
    </div>
    <div v-if="failedFetchingAirports">
      Something went wrong when trying to fetch airports. Please try again.
    </div>

    <div v-if="airportsAvailable" class="input-form">
      <el-row>
        <el-col :span="12">
          <el-col :span="12" class="input-label">
            Select possible departure airports:
          </el-col>
          <el-col :span="12">
            <AirportSelector :airports="airPorts" :selected="departureAirports"></AirportSelector>
          </el-col>
        </el-col>

        <el-col :span="12">
          <el-col :span="8">
            Select prefered temperature range:
          </el-col>
          <el-col :span="16">
            <TemperatureRangeSelector :temperatureRange="data.temperatureRange"></TemperatureRangeSelector>
          </el-col>
        </el-col>
      </el-row>
      <p></p>
      <el-row>
        <el-col :span="8">
          <el-row>
            Select the itinerary that works best for you:
          </el-row>
          <el-tabs v-model="activeTab">
            <el-tab-pane label="Amsterdam" name="amsterdam">
              <ItenaryList city="amsterdam" :trips="trips.amsterdam" :selected="selected.amsterdam"></ItenaryList>
            </el-tab-pane>
            <el-tab-pane label="Budapest" name="budapest">
              <ItenaryList city="budapest" :trips="trips.budapest" :selected="selected.budapest"></ItenaryList>
            </el-tab-pane>
            <el-tab-pane label="Madrid" name="madrid">
              <ItenaryList city="madrid" :trips="trips.madrid" :selected="selected.madrid"></ItenaryList>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="16">
          <p></p>
          Calculated recommendation:
          <div v-for="(city,index) in ranking" :key="index">
            <el-card shadow="hover" class="ranking-card">
              <div class="rank">{{index + 1}}</div>
              <div class="city-name">{{city.name}}</div>
              <div class="score weathername">Weather Score: {{city.weather}}</div>
              <div class="score airline">Airline Score: {{city.airline}}</div>
              <div class="score overall">Overall: {{city.score}}</div>
            </el-card>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
  import AirportSelector from './AirportSelector'
  import TemperatureRangeSelector from './TemperatureRangeSelector'
  import ItineraryList from './ItenaryList'

  export default {
    components: {ItenaryList: ItineraryList, TemperatureRangeSelector, AirportSelector},
    props: {
      data: Object
    },
    name: 'Canvas',
    data () {
      return {
        activeTab: 'amsterdam',
        departureAirports: this.data.departureAirports,
        departure_date: this.data.departure_date,
        pickerOptions: {
          disabledDate (date) {
            return date.getTime() < Date.now()
          }
        }
      }
    },
    computed: {
      ranking () {
        return this.data.overallRank
      },
      trips () {
        return this.data.trips
      },
      selected () {
        return this.data.selected
      },
      airPorts () {
        return this.data.airports
      },
      noAirports () {
        return this.data.airports instanceof Array && this.data.airports.length === 0
      },
      failedFetchingAirports () {
        return this.data.fetching_airports_list_failed
      },
      pendingAirports () {
        return this.data.pending_airport_list
      },
      airportsAvailable () {
        return this.data.airports instanceof Array && this.data.airports.length > 0
      }
    }
  }
</script>
<style scoped>

  .rank {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }

  .input-form {
    width: 1200px;
    margin: 0 auto;
  }

  .input-label {
    text-align: right;
  }

  .ranking-card {
    margin: 10px;
  }

  .score {
    float: right;
    clear:right;
    font-size:10px;
    font-weight: bold;
  }

</style>
