<template>
  <el-card class="box-card">
    <div v-for="trip in tripList" :key="trip.masterIndex">
      <div class="container" v-on:click="selectedChange(trip)">
        <el-card class="trip" v-bind:class="{selected: trip.isSelected}" shadow="hover">
          <div class="from-to">{{trip.from}} - {{trip.to}}</div>
          <div class="duration">{{trip.duration}}</div>
          <div class="route">{{trip.route}}</div>
          <div class="price">€{{trip.price}}</div>
        </el-card>
      </div>
      <p></p>
    </div>
  </el-card>
</template>

<script>

import OfficeRecommender from '../core'

export default {
  props: ['trips', 'selected', 'city'],
  name: 'ItenaryList',
  methods: {
    selectedChange (trip) {
      OfficeRecommender.setSelected(this.city, this.trips[trip.masterIndex])
    }
  },
  computed: {
    tripList () {
      return this.trips.map((trip, index) => {
        let route = trip.route.map(route => {
          return `${route.from} > ${route.to}`
        })

        return {
          masterIndex: index,
          from: trip.from,
          to: trip.to,
          price: trip.price,
          duration: trip.duration,
          route: route.join(' , '),
          isSelected: trip === this.selected
        }
      })
    }
  }
}
</script>

<style scoped>
  .from-to {
    float: right;
    font-size: 10px;
    font-weight: bold;
  }

  .duration {
    float: right;
    clear: right;
    font-size: 9px;
  }

  .trip {
    padding: 10px;
  }

  .trip:after {
    content: "";
    display: block;
    clear: both;
  }

  .selected {
    background-color: #00d6b2;
  }

  .price {
    font-size: 14px;
    float: right;
    font-weight: bold;
  }

</style>
