<template>
    <div id="location_denied">
      <h2>Location Access Denied</h2>
      <p class="error">
        You've denied permission to detect your location. We need your location to find airports around you to enable you to find the ideal location.
      <p>Please allow location access permission for this page using your browser's settings and then refresh the page.</p>

    </div>
</template>

<script>
export default {
  name: 'LocationDenied'
}
</script>
<style scoped>

  .error {
    width: 1000px;
    margin: 0 auto;
  }

</style>
