<template>
  <div id="location_failed">
    <h2>Location Access Failed</h2>
    <p class="error">
      For an unknown reason we were not able to find your location to enable you to find the best office to go to. Please try again.
    </p>
  </div>
</template>

<script>
export default {
  name: 'LocationFailed'
}
</script>

<style scoped>

  .error {
    width: 500px;
    margin: 0 auto;
  }

</style>
