<template>
  <div>
    <el-slider
      v-model="value"
      range
      show-stops
      v-on:change="onChange"
      :min="10"
      :marks="marks"
      :max="40">
    </el-slider>
  </div>
</template>
<script>
import OfficeRecommender from '../core'

export default {
  props: ['temperatureRange'],
  name: 'TemperatureRangeSelector',
  methods: {
    onChange (value) {
      OfficeRecommender.setTemperatureRange(value)
    }
  },
  data () {
    return {
      showStops: true,
      value: this.temperatureRange,
      marks: {
        40: '40°C',
        25: '25°C',
        10: '10°C'
      }
    }
  }
}
</script>
<style scoped>
</style>
