<template>
  <div id="app">
    <h1>Office Selector</h1>
    <span v-if="isAwaitingLocation">
      <AwaitingLocation></AwaitingLocation>
    </span>
    <span v-if="isLocationDenied">
      <LocationDenied></LocationDenied>
    </span>
    <span v-if="isLocationError">
      <LocationFailed></LocationFailed>
    </span>
    <span v-if="isLocationAvailable">
      <Canvas :data="data"></Canvas>
    </span>
  </div>
</template>

<script>
import AwaitingLocation from './components/AwaitingLocation'
import {LOCATION_STATE} from './state'
import LocationDenied from './components/LocationDenied'
import LocationFailed from './components/LocationFailed'
import Canvas from './components/Canvas'

export default {
  props: {
    data: Object
  },
  name: 'App',
  components: {
    Canvas,
    LocationFailed,
    LocationDenied,
    AwaitingLocation
  },

  data () {
    return this.data
  },

  computed: {
    isLocationError () {
      return this.location_status === LOCATION_STATE.LOCATION_FAILED
    },
    isLocationDenied () {
      return this.location_status === LOCATION_STATE.LOCATION_DENIED
    },
    isAwaitingLocation () {
      return this.location_status === LOCATION_STATE.LOCATION_PENDING
    },
    isLocationAvailable () {
      return this.location_status === LOCATION_STATE.LOCATION_AVAILABLE
    }
  }
}
</script>
<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
